<mat-toolbar color="primary">
  <a mat-button color="accent" routerLink="/home">
    GameBoardDev
  </a>
  <span style="flex: 1 1 auto;"></span>
  @if (authService.isLogged()) {
    <span>Witaj, {{ authService.user()?.login }}</span>
    <a mat-button color="accent" (click)="authService.logout()">
      Wyloguj się
    </a>
  } @else {
    <a mat-button color="accent" routerLink="/auth">
      Logowanie
    </a>
    <a mat-button routerLink="/auth/register">
      Rejestracja
    </a>
  }
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
